.header {
	@include pie-clearfix;
    background-color: $primary-color;
    margin-bottom: 40px;
	text-align: center;

	@include breakpoint('medium') {
		margin-bottom: 60px;
	}

	@include breakpoint('large') {
		margin-bottom: 80px;
	}

	&.is-compact {
		margin-bottom: 0px;
	}
}