<h2>About Me</h2>

<p>Hi there! As you may have guessed I'm Cheryl, a highly motivated front-end developer. From a young age I have always been passionate about the web in general and it was during college that I realised web development was for me. Going onto university, I dabbled with multiple prospects, but eventually found that front-end development was the specialisation I wanted to follow.</p>

<p>With over five years commercial experience I work with standards in mind, constantly driving towards producing clean and effective code. Over the years I have been lucky enough to work in some great teams where I have been able to push myself, improve my skillset and gain valuable experience.</p>