// Defaults ---------------------------------------------------/
$l-margins: (10, 20, 30, 40, 50) !default;
// ------------------------------------------------------------/
 
@import 'layout/grids';
@import 'layout/footer';
@import 'layout/header';
 
 
// Floats --------------------------/
.l-left {
    float: left;
}
 
.l-right {
    float: left;
    @include breakpoint('medium') {
        float: right;
    }
}
 
 
// Page Layout  --------------------/
.wrapper {
    padding: 10px;
    width: 100%;
 
    @include breakpoint('large') {
        padding: 10px 0;
        margin: 0 auto;
        max-width: $wrapper-width;
    }
}
 
.l-clear {
    clear: both;
}
 
.l-textcenter {
    width: 100%;
    text-align: center;
}
 
 
// Misc  ---------------------------/
@each $l-margin in $l-margins {
    .l-margintop#{$l-margin} {
        margin-top: $l-margin + px;
    }
 
    .l-marginbottom#{$l-margin} {
        margin-top: $l-margin + px;
    }
}