.gallery {
	margin: 0 0 20px -20px;

	figure {
		display: inline-block;
		background-color: $white;
		border: 1px solid $primary-color;
		border-radius: $border-radius;
    	padding: 5px;
		margin: 0 0 10px 20px;

		&:hover {
			border-color: $secondary-color;
		}
	}

	figcaption {
		display: none;
	}
}